In [1]:
import datetime  
import re

In [2]:
class OM():
    def __init__(self, Nume, Prenume, dataNasterii):  #  dataNasterii =  'an/luna/zi'  , de dorit fara 0s in fata :) 
        self.Nume = Nume
        self.Prenume = Prenume 
        x = re.findall('\d+', dataNasterii)      
        self.dataNasterii  = datetime.datetime( int(x[0]) , int(x[1]) , int(x[2]))  
    def calc_varsta(self): 
        
        x = datetime.datetime.now()   
        
        if x.year > self.dataNasterii.year:
            
            if x.month > self.dataNasterii.month:
                
                return x.year - self.dataNasterii.year 
                                                   
            elif x.month < self.dataNasterii.month:
                                                   
                return x.year - self.dataNasterii.year  -1 
            else:
                if x.day > self.dataNasterii.day:
                    return x.year - self.dataNasterii.year 
                elif x.day  < self.dataNasterii.day: 
                    return x.year - self.dataNasterii.year - 1
                else:
                    return "Happy Birthday!!"
        else:
            return "Newborns can't type! Do not fool me!"

In [3]:
Omu = OM('Ion', 'JJ', '2001/9/8') #'an/luna/zi'  , de dorit fara 0s in fata :)

In [4]:
Omu.calc_varsta()

20

In [5]:
class Elev(OM):
    def __init__(self,Nume, Prenume, dataNasterii, Clasa, Nota_Medie): 
        super().__init__(Nume, Prenume, dataNasterii) 
        self.Clasa = Clasa 
        self.Nota_Medie = Nota_Medie
    
    def Este_eminent(self):
        if self.Nota_Medie == 10:
            return "este eminent"
        else:
            return "nu este eminent"

In [6]:
Elevu = Elev('Tj', 'Gg', '2001/10/25', 7, 10)

In [7]:
Elevu.Este_eminent()

'este eminent'

In [8]:
class Profesor(OM):
    def __init__(self, Nume, Prenume, dataNasterii, Discipline, Salariu):
        super().__init__(Nume, Prenume, dataNasterii)
        self.Discipline = Discipline
        self.Salariu = Salariu
    
    def Salariu_anual(self): 
        return self.Salariu*12 
    
    def Nr_discipline(self):
        return len(self.Discipline)

In [9]:
Profu =Profesor('Mark', 'Karl', '1996/2/24',['Biologie', 'Chimie', 'Matem'],2000)

In [10]:
Profu.Salariu_anual()

24000

In [11]:
Profu.Nr_discipline()

3

In [12]:
Profu.calc_varsta()

25